@import '../../../settings';

#comment-list {
    .group-btn {
        display: flex;
        align-items: center;

        .icon {
            color: rgb(46, 46, 46);
            font-size: 25px;
        }

        h6{
            margin-top: 7px;
            margin-left: 15px;
        }

        button{
            margin-left: 40px;

            &:last-child {
                margin-left: 10px;
            }
        }

        #comment-date{
            margin-left: 10px;
            font-size: smaller;
        }

        #text-edit {
            font-size: smaller;
            margin-left: 10px;
            color: gray;
        }
    }

    #display-comment {
        margin-left: 40px;

        .ql-container {
            border: none !important;
            background-color: white;
            border-radius: 15px;
            outline: none !important;
            box-shadow: none !important;
        }
    }
 
    
    .action {
        font-size: smaller;
        margin-top: 5px;
        display: flex;
        margin-left: 40px;

        .button {
            cursor: pointer;
            text-decoration: underline;
            border: none;
            background-color: inherit;
        }
    }

    #edit-comment {
        margin-left: 40px;
        
        .group-btn {
            margin-left: -40px;
        }

        .ql-toolbar {
            background-color: white;
            border-top-left-radius: $column-border-radius;
            border-top-right-radius: $column-border-radius;
        }

        .ql-container {
            background-color: white;
            border-end-start-radius: $column-border-radius;
            border-end-end-radius: $column-border-radius;
        }
    }
    
}