@import '../../../settings';

#input-search-member {
    margin-top: 15px;


    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.label-title {
    margin-top: 15px;
    font-size: small;
    font-weight: 600;
    margin-bottom: 10px;
}

#member-dropdown{
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: inherit;
    border: none;
    width: 100%;
    text-align: left;

    .member-photo {
        width: 15%;
        
        .photo{
            display: grid;
            place-items: center;
            width: 30px;
            height: 30px;
            background-color: $navbar-board-bg-color;
            border-radius: 100%;
            div {
                font-size: small;
                color: white;
                font-weight: bold;
                cursor: default;
            }
            
        }
    }

    .member-name {
        font-size: small;
        font-weight: 400;
        width: 77%;
    }

    &:hover {
        cursor: pointer;
        background-color: $hover-button;
    }

}

#not-found-member{
    background-color: $hover-button;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 70px;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    border-radius: 7px;
    
    div{
        font-size: small;
        font-weight: 400;
    }
}

#btn-remove-assign{
    margin-top: 10px;
    border: none;
    border-radius: 7px;
    width: 100%;
    color: black;
    font-weight: 400;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(235, 235, 235);

    &:hover{
        background-color: $hover-button;
    }
}