@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  font-size: 14px;
  background-color: #0079bf;

  .scrollbar{
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 11px;
    }
    
    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, .24);
      border-radius: 5px solid #ebecf0;
      background-clip: padding-box;
    }
  }

  #sidebar-title {
    padding-bottom: 6px;
  }
}