@import '../../../settings';

.navbar-board {
    padding-left: $gap;
    padding-right: $gap;
    align-items: center;
    font-size: 1.1rem;
    background-color: $navbar-app-bg-color;
    margin-top: 0px;
    margin-bottom: $gap;
    height: auto;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    .row {
        --bs-gutter-x: 0px;

        .section {
            display: flex;
            align-items: center;

            .name-board{
                margin-right: 7px;
                padding-left: 5px;
                padding-right: 5px;
                color: $list-bg-color;
                font-weight: bold;
                cursor: pointer;
                background-color: inherit;
                border: none;

                &:hover {
                    border-radius: $card-border-radius;
                    background-color: $hover-icon;
                    
                }
            }

            .input-board{
                margin-top: 5px;
                //color: $list-bg-color
                font-weight: 500;
                height: fit-content;
                width: fit-content;
                background-color: white;
                border-radius: $card-border-radius;
                border: none;
            }

            .modal-dropdown{
                margin-top: 5px;

                .modal-dropdown-button {
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    width: 100%;
                    text-align: left;
                    border-radius: $icon-border-radius;
                    align-items: center;
                    margin-bottom: 7px;
                    
        
                    &::after {
                        content: '';
                        border: none !important;
                        outline: none !important;
                        box-shadow: none !important;
                    }

                    .icon {
                        margin-right: -4px;
                    }
                    
                    &:hover {
                        background-color: $hover-icon;
                    }
                }
        
                .modal-dropdown-body {
                    width: auto;
                    margin-left: 0px;
                    padding-left: 15px;
                    padding-right: 15px;
        
                    .modal-header {
                        color: black;
                        border-bottom: none;
                        font-weight: bold;
                        height: 40px;
                        text-align: center;
                        display: block;
                        padding: 5px;

                        .bi-x {
                            float: right;
                            cursor: pointer;
                            font-size: larger;
                            padding: 3px;
                            margin-top: -3px;
                            background-color: inherit;
                            border: none;
                            
                            &:hover{
                                border-radius: 5px;
                                background-color: rgba(128, 128, 128, 0.100);
                            }
                        }
                    }

                    .dropdown-item {
                        background-color: rgba(0, 0, 0, 0);

                        &:hover{
                            background-color: rgba(128, 128, 128, 0.100);
                            color: black;
                        }
                    }

                    .icon-group {
                        color: black;
                        text-align: left;
                        font-size: 15px;
                        font-weight: 400;
                        
                        cursor: pointer;
                        border: none;
        
                        .icon {
                            margin-right: 10px;
                        }

                        .bi-check {
                            float: right;
                            font-size: larger;
                        }
                    }

                    .information {
                        font-size: smaller;
                    }
        
                    .input-form {
                        outline: none !important;
                        box-shadow: none !important;
                    }
        
                    .btn {
                        margin-top: 5px;
                        float: right;
                    }
                }
            }
        }


        .display-right {
            float: right;
            padding-top: 6px;
            display: flex;
            align-items: center;

            .display-photo{
                display: flex;

                .member-photo {
                    margin-left: -5px;
                    
                    .photo{
                        display: grid;
                        place-items: center;
                        width: 30px;
                        height: 30px;
                        background-color: $navbar-board-bg-color;
                        border-radius: 100%;
                        border: 2px solid $list-bg-color;

                        div {
                            color: $list-bg-color;
                            font-size: 12px;
                            font-weight: bold;
                            cursor: default;
                        }
                        
                    }
                }
            }

            .group-btn{
                margin-left: 5px;
                background-color: $list-bg-color;
                align-items: center;
                color: black;
                font-size: medium;
                font-weight: 300;
                border: none;

                .icon{
                    color: rgb(8, 8, 8);
                    margin-right: 5px;
                }

                &:hover {
                    background-color: white;
                }
            }
        }
    }
}
