@import '../../settings';

.board-title {
    padding-left: $gap;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: $gap;
    display: flex;
    background-color: inherit;
    border: none;
    width: 100%;

    &:hover {
        background-color: $hover-sidebar;
    }

    &:last-child{
        margin-bottom: 15px;
    }

    .color-icon{
        width: 30px;
        height: 20px;
        background-color: white;
        border-radius: 3px;
        margin-right: 10px;
        margin-top: 2px;
        border: 1px rgba(0, 0, 0, 0.315) solid;
    }

    a {
        width: 100%;
        text-align: left;
        color: white;

        label {
            cursor: pointer;
        }
    }


    .icon {
        background-color: rgba(255, 255, 255, 0);
        color: white;
        float: right;
        margin-top: -1.5px;
        padding: 3px;
        cursor: pointer;
        border: none;
        display: relative;

        &:hover {
            background-color: $hover-button;
            border-radius: $icon-border-radius;
        }
    }
}

.active {
    background-color: #ebecf060;
}