@import '../../../settings';

.not-found {
    height: 100vh;
    max-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center; 

    h5 {
      margin-left: $gap;
      color: white;
    }
}

@media (max-width: $screen-phone){
    .not-found {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center; 

      h5 {
        margin-top: 20px;
        margin-left: $gap;
        color: white;
      }
    }
}

.board-columns {
    display: flex;
    margin: 0 $gap 0;
    gap: 10px;
    overflow-x: auto;
    
    
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, .24);
      border-radius: 5px solid $list-bg-color;
      background-clip: padding-box;
    }

    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }

    .add-new-column {
      width: 250px;
      height: 40px;
      line-height: 32px;
      padding: 4px 0 4px 15px;
      cursor: pointer;
      color: white;
      margin-left: $gap;
      font-size: 15px;
      background-color: hsla(0, 0, 100, .24);
      border-radius: $card-border-radius;
      border: none;
      text-align: left;

      &:hover {
        background-color: hsla(0, 0, 100, .34);
      }
    }
    
    .content-add-column {
      width: 250px;
      height: 100px;
      padding: 5px;
      background-color: hsla(0, 0, 100, .34);
      margin-left: 10px;
      border-radius: $card-border-radius;

      .group-btn {
        padding-top: 10px;
        display: flex;
        align-items: center;

        .icon {
          font-size: 30px;
          cursor: pointer;
          color: #000000;
          background-color: inherit;
          border: none;
          text-align: left;

          &:hover {
            color: #333;
          }
        }
      }
    }

}