@import '../../../settings';

#checkbox{
    margin-top: $gap;
    margin-bottom: $gap;
    display: flex;
    margin-left: 40px;
    align-items: center;

    .check {
        margin-left: -30px;
        width: 10%;
    }

    .label {
        margin-left: 10px;
        padding: 5px;
        background-color: $list-bg-color;
        border-radius: 5px;
        width: 100%;
        display: flex;
    
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        #title-list{
            width: 50%;
            background-color: inherit;
            border: none;
            text-align: left;

            .text-list {
                text-decoration: line-through;
                cursor: pointer;
            }
        }


        #icon-list {
            width: 50%;

            .icon-label{
                float: right;
                width: 27px;
                height: 27px;
                color: black;
                background-color: rgb(218, 218, 218);
                border-radius: 100%;
                margin-left: 5px;
                margin-right: 5px;
                padding: 5px;
                margin-top: -1px;

                align-items: center;
                justify-content: center;
                display: flex;
    
                .icon {
                    font-size: 14px;
                }

                .bi-trash3{
                    background-color: inherit;
                    border: none;
                }

                &:hover {
                    background-color: $list-bg-color;
                }
            }

            .modal-dropdown{
                margin-top: -2px;
                float: right;

                #dropdown-button-assign {
                    border: none;
                    background-color: inherit;
                    height: 30px;
                    
                    --bs-badge-padding-x: 0em;
                    --bs-badge-padding-y: 0em;

                    &::after {
                        content: '';
                        border: none !important;
                        outline: none !important;
                        box-shadow: none !important;
                    }

                    #icon-assign{
                        border-radius: 100%;
                        background-color: rgb(218, 218, 218);
                        width: 27px;
                        height: 27px;
                        align-items: center;
                        justify-content: center;
                        display: flex;

                        &:hover {
                            background-color: $list-bg-color;
                        }

                        i {
                            font-size: 14px;
                            color: black;
                        }
                    }

                    #assign-member{
                        display: flex;
                        align-items: center;
                        margin-top: 0px;
                        
                        .member-photo {
                            --bs-badge-padding-x: 0.2em;
                            --bs-badge-padding-y: 0.4em;

                            .photo{
                                display: grid;
                                place-items: center;
                                width: 27px;
                                height: 27px;
                                background-color: $navbar-board-bg-color;
                                border-radius: 100%;
                                border: 2px solid $list-bg-color;
            
                                div {
                                    color: $list-bg-color;
                                    font-size: 9px;
                                    font-weight: bold;
                                    cursor: default;

                                    &:hover{
                                        cursor: pointer;
                                    }
                                }
                                
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
        
                .modal-dropdown-body {
                    width: 300px;
                    margin-left: 0px;
                    padding-left: 15px;
                    padding-right: 15px;
        
                    .modal-header {
                        color: black;
                        border-bottom: none;
                        font-weight: bold;
                        height: 40px;
                        text-align: center;
                        padding-top: $gap;
                        display: block;
                        margin-bottom: 10px;
                        
        
                        .bi-x {
                            float: right;
                            cursor: pointer;
                            font-size: larger;
                            padding: 3px;
                            margin-top: -3px;
                            margin-right: -20px;
                            
                            &:hover{
                                border-radius: 5px;
                                background-color: rgba(128, 128, 128, 0.100);
                            }
                        }
                    }
        
                    .input-form {
                        outline: none !important;
                        box-shadow: none !important;
                    }
        
                    .btn {
                        margin-top: 5px;
                        float: right;
                    }
                }
            }

            .icon-date{
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 5px;
                margin-right: 5px;
                float: right;
                color: black;
                background-color: rgb(218, 218, 218);
                align-items: center;
                justify-content: center;
                display: flex;
                
                i{
                    font-size: 14px;
                }

                #text-date{
                    font-size: smaller;
                    
                }

            }
        }
    }


    .edit-checklist {
        margin-left: 10px;
        width: 90%;
        
        input {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;

        }
    }
}

#custom-header-date{
    margin-top: 10px;
    margin-bottom: -30px;

    #container-date-month{
        margin-top: 15px;
        display: flex;
        align-items: center;

        #decrease-button{
            margin-left: 10px;
            border: none;
            font-size: large;
            width: 10%;
    
            &:hover{
                background-color: white;
                border-radius: 100%;
            }
        }
    
        #increase-button{
            margin-right: 10px;
            border: none;
            font-size: large;
            width: 10%;
    
            &:hover{
                background-color: white;
                border-radius: 100%;
            }
        }
    
        span {
            width: 80%;
            font-weight: bold;
        }
    }


    #container-clear-button{
        border-bottom: 1px solid #aeaeae;

        #clear-button{
            width: 90%;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            border: none;
            background-color: rgb(224, 224, 224);
            border-radius: 5px;
            padding: 5px;
            font-size: small;
    
            &:hover {
                background-color: white;
            }
        }
    }

}