@import '../../settings';

.sidebar {
    // background-color: $navbar-app-bg-color;
    color: $list-bg-color;
    height: 100vh;
    border-right: 1px solid $border-color;
    max-height: calc(100vh - 50px);
  }

  @media (max-width: $screen-phone){
    .sidebar {
      background-color: rgba(0, 0, 0, 0);
      color: $list-bg-color;
      height: auto;
      border-bottom: none;
    }
  }

  @media (min-width: 575px){
    .sidebar {
      background-color: $navbar-app-bg-color;
    }
}

#sidebar-title {
    padding-left: $gap;
    padding-right: $gap;
    align-items: center;
    font-size: 1.1rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    // background-color: $navbar-app-bg-color;
    padding-top: 5px;
    padding-bottom: 8px;
    height: auto;
    display: flex;
    justify-content: center;

    span {
        width: 100%;
    }

    #arrow-md {
        order: 1;
        float: right;
        margin-left: auto;
        background-color: inherit;
        border: none;
        color: white;
        padding: 1px;
        cursor: pointer;
        border-radius: $icon-border-radius;
        

        &:hover {
            background-color: $hover-icon;
        }
    }

    #arrow-sm {
        display: none;
    }

    @media (max-width: $screen-phone){
        #arrow-md {
          display: none;
        }

        #arrow-sm {
            display: block;
            background-color: inherit;
            border: none;
            color: white;
            padding: 1px;
            cursor: pointer;
            border-radius: $icon-border-radius;

            &:hover {
                background-color: $hover-icon;
            }
        }
    }

}

@media (max-width: $screen-phone){
    #boards-rows {
        background-color: $navbar-app-bg-color;
        // padding-bottom: 1px;
        border-bottom: 1px solid $border-color;
    }

    #sidebar-title {
        background-color: $navbar-app-bg-color;
    }
}


#sidebar-board {
    padding-left: $gap;
    padding-right: $gap;
    padding-top: 5px;
    color: $list-bg-color;
    
    .section {
        display: flex;
        
        .dropend{
            float: right;
            margin-left: auto;

            .icon {
                margin-left: auto;
                font-size: large;
                padding: 1px;
                cursor: pointer;
                border-radius: $icon-border-radius;
        
                &:hover {
                    background-color: $hover-icon;
                }
            }

            .dropdown-toggle {
                background-color: rgba(0, 0, 0, 0);
                border: none;
                width: 100%;
                text-align: left;
                border-radius: $icon-border-radius;
                align-items: center;
                margin-bottom: 7px;
                --bs-btn-padding-x: 0rem;
                --bs-btn-padding-y: 0rem;
                
                &::after {
                    content: '';
                    border: none !important;
                    outline: none !important;
                    box-shadow: none !important;
                }

                .icon {
                    margin-right: -4px;
                }
                
                &:hover {
                    background-color: $hover-icon;
                }
            }

            .dropdown-menu {
                width: 300px;
                margin-left: 7px;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;

                #text-information {
                    margin-top: 5px;
                    margin-bottom: -5px;
                    font-size: smaller;
                }
    
                .modal-header {
                    color: black;
                    border-bottom: none;
                    font-weight: bold;
                    height: 40px;
                    text-align: center;
                    display: block;
                    padding: 5px;

                    .bi-x {
                        float: right;
                        cursor: pointer;
                        font-size: larger;
                        padding: 3px;
                        margin-top: -3px;
                        background-color: inherit;
                        border: none;
                        
                        &:hover{
                            border-radius: 5px;
                            background-color: rgba(128, 128, 128, 0.100);
                        }
                    }
                }

                .icon-group {
                    color: black;
                    text-align: left;
                    font-size: 15px;
                    font-weight: 400;
                    
                    cursor: pointer;
                    border: none;
    
                    .icon {
                        margin-right: 10px;
                    }

                    .bi-check {
                        float: right;
                        font-size: larger;
                    }
                }

                .form-label {
                    font-size: small;
                    font-weight: 600;
                }

                .input-form {
                    outline: none !important;
                    box-shadow: none !important;
                }
    
                #btn-submit {
                    width: 100%;
                    padding: 5px;
                    background-color: $list-bg-color;
                    border: none;
                    border-radius: 5px;
                    font-size: small;
                    font-weight: 600;

                    &:hover{
                        background-color: $hover-button;
                    }
                }
            }
        }

        #example-background {
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: $board-bg-color;
            margin-bottom: 10px;
            border-radius: 5px;

            img {
                margin-top: -7px;
                padding-bottom: 10px;
                height: auto;
                width: 90%;
            }
        }
    }
}
